* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Courier New", Courier, monospace; */
  /* border: 1px red solid; */
}

a {
  text-decoration-line: none;
  color: white;
}

.nav_list a:hover {
  color: burlywood;
}

/* header nav */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  z-index: 1000;
}

#header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 15em;
}

#header_logo img {
  width: 30px;
  height: 30px;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav_list {
  height: 2em;
  padding: 10px;
  margin-left: 10px;
}

/* main top */
.section_top {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  background-color: black;
  color: white;
}

/* modal chat */
.modal_back {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.7);
}
.modal_chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 30%;
  height: 75%;
}

.modal_chat .modal_close {
  border: 0;
  background-color: transparent;
  align-self: end;
  margin: 20px;
  font-size: larger;
  font-weight: bold;
}

.chat_title {
  /* font-family: "Courier New", Courier, monospace; */
  text-align: center;
}

.chat_box {
  width: 80%;
  height: 70%;
  background-color: lightgoldenrodyellow;
  margin: 10px 0;
}

.chat_button_box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.modal_chat .button {
  text-align: center;
  margin: 0.5em;
  padding: 10px;
  border-radius: 6px;
  background-color: lightblue;
  border: 1px solid red;
}
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.top_text {
  margin: 2em;
  padding: 2em;
}

.top_text h1 {
  padding-top: 1em;
}

.top_text p {
  width: 30em;
  padding-top: 1em;
}

.top_text button {
  border: 1px solid white;
  border-radius: 5px;
  width: 15em;
  height: 5em;
  margin-top: 2em;
  background-color: transparent;
  color: white;
}

.top_img img {
  width: 40em;
  height: 30em;
  object-fit: cover;
}

/* main section */
.section_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 10em;
}

.flex,
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main_text {
  margin: 3em;
  text-align: center;
}

.main_text p {
  margin-top: 1em;
  width: 30em;
}

#main_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  width: calc(100% / 3);
  padding: 5px;
  height: 15em;
  position: relative;
}

.img_wrap {
  width: 100%;
  height: 100%;
}

.item .img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  border-radius: 5px;
}

.img_text_wrap {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-10%, -10%);
  color: white;
}

.img_sub_text {
  opacity: 0.7;
}

.item .img:hover {
  filter: brightness(30%);
  opacity: 1;
}

/* practicing Grid */
#grid_container {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: max(90%, 75rem);
  gap: 1.5rem;
  display: grid;
  grid-template-areas:
    "first_item first_item second_item third_item"
    "fourth_item fifth_item fifth_item third_item";
}
.grid_item {
  width: 100%;
  border-radius: 10px;
  padding: 25px;
}

.pic_container {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}
.pic {
  border: 3px solid rgb(180, 165, 221);
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.name {
  margin: 10px;
}

.pic_name {
  font-weight: bolder;
}

.pic_name_des {
  font-size: smaller;
}
.grid_item_text {
  font-size: small;
}
.grid_description {
  margin: 20px 0;
  font-size: smaller;
}

.grid_item:nth-of-type(1) {
  grid-area: first_item;
  color: white;
  background-color: rgb(151, 93, 217);
}
.grid_item:nth-of-type(2) {
  grid-area: second_item;
  color: white;
  background-color: rgb(124, 121, 128);
}
.grid_item:nth-of-type(3) {
  grid-area: third_item;
  background-color: rgb(247, 246, 248);
}
.grid_item:nth-of-type(4) {
  grid-area: fourth_item;
  background-color: rgb(247, 246, 248);
}
.grid_item:nth-of-type(5) {
  grid-area: fifth_item;
  color: white;
  background-color: rgb(33, 33, 34);
}

footer {
  text-align: center;
  margin: 5em;
}

@media screen and (max-width: 600px) {
  header {
    display: block;
    position: fixed;
    width: 100%;
  }
  .modal_chat {
    width: 50%;
    height: 60%;
  }
  .top_text,
  .top_text h1,
  .top_text p,
  .top_text button {
    width: 100%;
  }

  .top_img img {
    width: 100%;
    height: 30em;
    object-fit: contain;
  }
  .section_main {
    margin: 0;
  }

  .item {
    width: 100%;
    padding: 5px;
    /* height: 15em; */
    /* position: relative; */
  }

  #grid_container {
    grid-template-areas:
      "first_item"
      "second_item"
      "third_item"
      "fourth_item"
      "fifth_item";
  }
}

/* table */

.table_price {
  padding: 5em 0 3em 0;
}
.table-body {
  margin: 20px;
  display: flex;
  justify-content: center;
}
table {
  border-collapse: collapse;
}
thead th {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

tbody .table-data:nth-child(1) {
  padding-right: 50px;
  padding-left: 50px;
  height: 200px;
  width: 300px;
  color: white;
}

tbody .table-data:nth-child(n + 3):nth-child(-n + 4) {
  background-color: rgb(247, 243, 243);
  width: 280px;
  padding-left: 20px;
}

tbody .table-data:last-child {
  background-color: rgb(247, 243, 243);
  width: 200px;
}

tbody .row2 .check {
  color: rgb(121, 227, 67);
}

tbody .row3 .check {
  color: rgb(79, 204, 230);
}

tbody .row4 .check {
  color: rgb(225, 143, 48);
}

.connect {
  background-color: rgb(247, 243, 243);
}

.col1,
.square1 {
  background-color: rgb(121, 227, 67);
}
.col2,
.square2 {
  background-color: rgb(79, 204, 230);
}
.col3,
.square3 {
  background-color: rgb(225, 143, 48);
}

.tri1 {
  border-left: 30px solid rgb(121, 227, 67);
}
.tri2 {
  border-left: 30px solid rgb(79, 204, 230);
}
.tri3 {
  border-left: 30px solid rgb(225, 143, 48);
}

.triangle {
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

.square {
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  color: white;
  border: 0;
  outline: 0;
}

tbody td {
  font-weight: bold;
}

.table-ul {
  display: block;
}

tbody td .prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

tbody td .prices p {
  font-size: xx-large;
}

.form_container {
  /* width: 500px;
  height: 500px;
  background-color: antiquewhite; */
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
}
.form_pic img {
  width: 300px;
  height: 500px;
  object-fit: cover;
}

.name,
.message,
.email {
  margin: 20px;
}
.message {
  display: flex;
  flex-direction: column;
}
.button_for_submit {
  text-align: center;
}
.thankyou_message {
  padding: 30px;
}
